<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TeamTune</title>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script id="angularScript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">

<p>LOGIN</p>
<p>Name: <input type="text" ng-model="name"></p>
<p>Password: <input type="password" ng-model="pass"></p>
<button ng-click="onClickMe()">Click me!</button>
{{error}}
</div>
<!-- go run C:\xampp\htdocs\SP\webservices\users\login.go -->
<script>
var app = angular.module('myApp', []);
app.run(function ($http) {
  // Sends this header with any AJAX request
  $http.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
  // Send this header only in post requests. Specifies you are sending a JSON object
  $http.defaults.headers.post['dataType'] = 'json'
});
app.controller('myCtrl', function($scope, $http) {
    $scope.onClickMe = function() {
      console.log($scope.name, $scope.pass);

    $http({
        method : "POST",
        data: {
          login:$scope.name,
          password:$scope.pass
        },
        url : "http://localhost:1338"
    }).then(function mySuccess(response) {
      console.log(response.data);
        $scope.error = response.data.ErrorMessage;
    });
    };
});
</script>
</body>
</html>
